body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 153, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clock-heading {
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px 20px white;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0px;
}


.lower {
  display: flex;
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upper_settings {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}











.break_length_container {
  height: 80%;
  width: 30%;
  background-color: rgba(59, 59, 59, 0.74);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#break-label {
  height: 40%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 100;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
}

.controlers {
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#break-decrement, #break-increment {
  margin-top: 0;
  margin-bottom: 0;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 65, 65, 0.507);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.377);
  border-radius: 50%;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

#break-decrement:hover, #break-increment:hover {
  background-color: rgba(58, 136, 120, 0.507);}

#break-length {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3%;
  font-size: 25px;
  color: rgb(230, 230, 230);
  background-color: rgba(85, 85, 175, 0);
}































.session_length_container {
  height: 80%;
  width: 30%;
  background-color: rgba(59, 59, 59, 0.74);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#session-label {
  height: 40%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 100;
  color: rgb(185, 185, 185);
  font-family: sans-serif;
}

.controlers2 {
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#session-decrement, #session-increment {
  margin-top: 0;
  margin-bottom: 0;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 65, 65, 0.507);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.377);
  border-radius: 50%;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

#session-decrement:hover, #session-increment:hover {
  background-color: rgba(58, 136, 120, 0.507);}

#session-length {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3%;
  font-size: 25px;
  color: rgb(230, 230, 230);
  background-color: rgba(85, 85, 175, 0);
}























































.middle_clock {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main_clock {
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  padding: 40%;
  padding-top: 50%;
  padding-bottom: 50%;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.747);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#timer-label {
  width: 50%;
  height: 13%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#time-left {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}








































.lower_settings {
  height: 15%;
  width: 20%;
  border-radius: 50px;
  background-color: rgba(163, 16, 16, 0.26);
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#start_stop, #reset {
  border-style: solid;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


#start_stop:active, #reset:active {
  transform: scale(0.6);
}












/*---------------------------------RESPONSIVENESS---------------------------------------------*/
/*---------------------------------RESPONSIVENESS---------------------------------------------*/
/*---------------------------------RESPONSIVENESS---------------------------------------------*/



@media (max-width: 500px){
  .upper {
    height: 15%;
  }
  .lower {
    height: 75%;
    align-items: center;
  }
}


@media (min-width: 0px) and (max-width: 400px){

  .lower {
    width: 90%;
  }

  .upper_settings {
    width: 100%;
    height: 15%;
  }

  .break_length_container, .session_length_container {
    width: 45%;
    height: 70%;
  }

  #break-label, #session-label{
    font-size: 10px;
  }

  #break-decrement, #break-increment, #session-decrement, #session-increment {
    font-size: 7px;
    padding: 6%;
  }

  #break-length, #session-length {
    font-size: 16px;
  }

  .lower_settings {
    width: 40%;
    height: 12%;
  }

  #start_stop, #reset {
    font-size: 20px;
  }

}



@media (min-width: 401px) and (max-width: 480px){
  .upper_settings {
    width: 100%;
    height: 15%;
  }

  .break_length_container, .session_length_container {
    width: 45%;
    height: 70%;
  }

  #break-label, #session-label{
    font-size: 10px;
  }

  #break-decrement, #break-increment, #session-decrement, #session-increment {
    font-size: 7px;
    padding: 6%;
  }

  #break-length, #session-length {
    font-size: 16px;
  }

  .lower_settings {
    width: 40%;
    height: 12%;
  }

  #start_stop, #reset {
    font-size: 20px;
  }

}




@media (min-width: 481px) and (max-width: 700px){

  .lower {
    width: 90%;
  }

  .upper_settings {
    width: 100%;
    height: 15%;
  }

  #break-label, #session-label{
    font-size: 12px;
  }

  #break-decrement, #break-increment, #session-decrement, #session-increment {
    font-size: 7px;
    padding: 6%;
  }

  #break-length, #session-length {
    font-size: 20px;
  }

  .lower_settings {
    width: 30%;
  }

}












